/*******************************
    Colors and Variables
*******************************/
/*******************************
    Reset
*******************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*******************************
    Base Styles
*******************************/
.body {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
}

.container {
  width: min(95%, 1110px);
  margin-inline: auto;
}
.container--footer-home {
  color: #FFFFFF;
  background-color: #151515;
  padding: 3rem 2rem;
}
.container--footer-location {
  color: #151515;
  background-color: #D5966C;
  padding: 3rem 2rem;
}

.heading {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 900;
  text-transform: uppercase;
}

/*******************************
    Header 
*******************************/
.hero {
  display: flex;
  flex-direction: column;
}
.hero__context {
  order: 2;
}
.hero__heading {
  color: #151515;
  font-size: 3.75rem;
  line-height: 3.4375rem;
  margin: 2rem 0;
}
.hero__text {
  color: #444444;
  line-height: 1.75rem;
  max-width: 35ch;
}
.hero__background-left {
  display: none;
  background-color: #151515;
}

/*******************************
    Main 
*******************************/
.main {
  display: flex;
  flex-direction: column;
}
.main__heading {
  font-size: 3.125rem;
  line-height: 2.8125rem;
}
.main__text {
  font-size: inherit;
  line-height: 1.75rem;
  max-width: 30ch;
}
.main__context-top {
  order: 2;
  color: #151515;
}
.main__context-top .main__heading {
  margin-top: 1.5625rem;
  margin-bottom: 1.3125rem;
}
.main__context-top .main__text {
  color: #444444;
  margin-bottom: 2rem;
}
.main__context-bottom {
  order: 5;
  background-color: #151515;
  color: #FFFFFF;
  margin-bottom: 7.5rem;
  padding: 3rem 1.5rem;
}
.main__context-bottom .main__heading {
  margin-bottom: 1.5rem;
}

/*******************************
    Footer 
*******************************/
.footer__heading {
  font-size: 1.375rem;
  line-height: 1.25rem;
}
.footer__text {
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 2.375rem 0;
  max-width: 31ch;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  max-width: 100px;
}
.footer__link:hover .footer__icon, .footer__link:focus .footer__icon {
  fill: #D5966C;
}
.footer__link:hover .footer__location-icon, .footer__link:focus .footer__location-icon {
  fill: #FFFFFF;
}
.footer__icon {
  fill: #FFFFFF;
}
.footer__location-icon {
  fill: #151515;
}

/*******************************
    Buttons and Links  
*******************************/
.btn {
  display: grid;
  grid-template-columns: auto auto;
  max-width: max-content;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 3.64px;
  background-color: #151515;
  color: #FFFFFF;
  transition: all 400ms;
}
.btn__text {
  align-self: center;
}
.btn__arrow {
  background-color: #D5966C;
  padding: 1.2em;
}
.btn:hover, .btn:focus {
  background-color: #D5966C;
}
.btn:hover .btn__arrow, .btn:focus .btn__arrow {
  background-color: #151515;
}
.btn--location {
  margin: 2rem 0 7.5rem 0;
}
.btn--location__text {
  padding-left: 1.6em;
  padding-right: 1.75em;
}
.btn--home__text {
  padding-left: 1.75em;
  padding-right: 1.6em;
}

/*******************************
    Images 
*******************************/
.image {
  max-width: 100%;
  object-fit: cover;
}
.image--hero {
  order: 1;
  max-height: 300px;
}
.image--main-1 {
  order: 1;
  max-height: 350px;
  object-position: 0% 70%;
}
.image--main-2 {
  order: 3;
  max-height: 500px;
  object-position: 50% 79%;
  margin-bottom: 1rem;
}
.image--main-3 {
  order: 4;
  max-height: 350px;
  object-position: bottom;
  margin-bottom: 1rem;
}
